{% extends "base.html" %}
{% block content %}
      <img
        src="https://via.placeholder.com/400x300"
        alt="Produit"
        class="product-image" />
      <h1 class="product-title">{{product.name}}</h1>
      <p class="product-price">{{"%.2f" | format(product.price)}}</p>
      <p class="product-description">{{product.description}}</p>

      {% if store == 'online' %}
      <p>Commande disponible en ligne</p>
      {% elif store == 'metz' %}
      <p>Commande disponible à Metz ! </p>
      {% else %}
      <p> Boutique : {{ store }}</p>
      {% endif %}


      {% include "caracteristiques.html" %}

      <button class="btn-buy">Ajouter au panier</button>
{% endblock %}